
body {
    background-color: rgb(235, 248, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkbox-input {
    margin-left: 10px;
    margin-right: 10px
  }

  .youtube-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .description {
    font-size: 12px;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }



  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    height: 100vh;


img{
    width: 100px;
    height: 100px;
}

h3{
    font-size: 20px;
}


button {
  width: 100px;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

.back-btn {
  margin-top: 70px;
  margin-right: 320px;
  margin-bottom: 10px;
  background-color: #f2f2f2; 
  color: #333;
  padding: 3px 8px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back-btn:hover {
  background-color: #ddd; 
}
