.header-container {
  margin-top: 3px;
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  font-weight: bold;
}

.logout {
  cursor: pointer;
}


.logout-btn {
  background-color: #f2f2f2; 
  color: #333; 
  padding: 5px 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.logout-btn:hover {
  background-color: #ddd; 
}
