

.container {
  background-color: rgb(235, 248, 235);
  height: 100%;
  width: 80%;


}
.content-container {

background-color: white;
padding: 10px;
border-radius: 10px;
width: 100%;
box-sizing: border-box;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.line-separator {
  border-top: 1px solid #ccc;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 10px;
}


// .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: rgb(235, 248, 235);
//     font-family: 'Montserrat';
//     height: 100vh;
  


// }

// .screen-time{
//     margin-top: 50px;
//     margin-bottom: 50px;
// }

// .last{
//     margin-bottom: 20px;
// }

// h3{
//     font-size: 30px;
//     font-weight: bold;
//     font-family: 'Montserrat';
// }

// .top{
//     font-weight: 700;
// }

// button{
//     margin-bottom: 20px;
//     height: 50px;
//     width: 250px;
//     margin-left: 30%;
// }


// .btn-primary{
//     margin-bottom: 20px;
//     margin-bottom: 50px;
//     margin-right: 450px;
// }

// .timeLim{
//     margin-bottom: 20px;
//     font-family: 'Montserrat';
// }

.icon-container {
display: flex;
align-items: center;
}

.icon {
width: 20px; 
height: 20px; 
margin-right: 10px;
margin-bottom: 2px;
}


.text {
margin-top: 12px;
}
.container12 {
display: flex;
justify-content: space-between; 
align-items: center;
}

button{
background-color: grey;
width: 88px;
height: 30px;
flex-shrink: 0;
}


  
