<div class="container">
    <app-header></app-header>
    <div class="screen-time">
        <h3><span style="font-weight: bold;">{{ name }}'s Screen Time Total:</span>: 1 hr 15 min</h3>
        <div class="apps">
            <p><span style="font-weight: bold;">TikTok</span>: 35 min</p>
            <p><span style="font-weight: bold;">YouTube</span>: 23 min</p>
            <p><span style="font-weight: bold;">Instagram</span>: 17 min</p>
        </div>
        <div *ngIf="timeLimit !== ''" class = "timeLim">
            <h3>Time Limit: {{ timeLimit }}</h3>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary mt-2" (click)="notify()">Notify to take a break</button>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-secondary mt-2" (click)="setLimit()">Set Screen Time Limit</button>
        </div>
               
    </div>
</div>
