
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    font-family: 'Montserrat';
    height: 100vh;
    


}

.screen-time{
    margin-top: 50px;
    margin-bottom: 50px;
}

.last{
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.top{
    font-weight: 700;
}

button{
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
    margin-left: 30%;
}


.btn-primary{
    margin-bottom: 20px;
    margin-bottom: 50px;
    margin-right: 450px;
}

.timeLim{
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

