
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);

}

.last{
    margin-bottom: 20px;
}

h3{
    font-size: 20px;
}
button{
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
    margin-left: 30%;
}


.btn-primary{
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 450px;
}

.timeLim{
    margin-bottom: 20px;
}

