<div class = container>
    <h3>Take a break!</h3> 
    <div *ngIf="suggest !== ''">
        <h2>Message from parent: {{ suggest }}</h2>
      </div>
      <h4>Click on the icon below</h4> 
    <div class="col-md-4">
        <div class="content-wrapper" style="display: flex; align-items: center;">
            <a href="https://www.youtube.com/watch?v=dhpCdqOtuj0" target="_blank" class="btn btn-secondary mt-2">
                <img src="assets/youtube-icon.png" alt="Description of the image">
            </a>
            <div class="des" style="margin-left: 10px;">
                <h5>Healthy Habits</h5>
                <h6>People are always telling us to be healthy–but what does that actually mean?</h6>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" (click)="onContinue()">Continue</button>
    </div>  
    
    </div>