
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 255);
    height: 100vh;



img{
    width: 45px;
    height: 45px;
}
.btn-primary{
    width: 100px;
    margin-top: 60px;
    margin-left: 35%;
    margin-bottom: 10px;

}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

h4{
    font-size: 15px;
    margin-bottom: 20px;
}
h5, h6{
    font-size: 15px;

}

h2{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;


}

.btn-secondary {
    width: 70px;
    height: 60px;
    background-color: white;

  }
}