
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 255);


img{
    width: 45px;
    height: 45px;
}
.btn-primary{
    width: 100px;
    margin-top: 60px;
    margin-left: 35%;
    margin-bottom: 10px;

}

h3{
    font-size: 20px;
    margin-bottom: 10px;
}

h4{
    font-size: 15px;
    margin-bottom: 50px;
}


.btn-secondary {
    width: 70px;
    height: 60px;
    background-color: white;

  }
}