@mixin mobile-responsive {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    
    h4 {
      margin-bottom: 40px;
    }
  
    h1 {
      margin-bottom: 30px;
     }
  
    form {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: 100%;
    }
  
    button {
      width: 100%;
      max-width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .create-account-link {
      display: block;
      text-align: center;
      margin-top: 10px;
      text-decoration: underline;
      color: blue; // Adjust the color as needed
    }
  
    @include mobile-responsive {
      h4 {
        margin-bottom: 20px;
      }
  
      h1 {
        margin-bottom: 15px;
      }
  
      button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
      .create-account-link {
        margin-top: 10px;
      }
    }
  }
  