.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  text-align: center; 
  width: 85%;


  h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }

  form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }

  button {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
}

  