.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    height: 100vh;
    background-color: rgb(238, 238, 238);
    // margin: 10 auto;


    h4 {
        margin-bottom: 40px;
        font-family: 'Montserrat';
      }
  
    h1 {
      margin-bottom: 30px;
      font-family: 'Montserrat';
    }
  
    form {
      width: auto;
      max-width: auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: auto; 
    }
  
    button {
      width: 100px;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 50px;

    }
  }
  