.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    font-family: 'Arial';
    font-weight: 700;
    height: 100vh;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    
    
}

.dayTitle{
    padding-left: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.buttonHolder{
    align-content:end;
    padding-left: 450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.buttonHolder .back{
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.scheduleContainer {
    display: grid;
    grid-template-columns: 40px 25px 25px 25px 25px 25px 25px 25px;
    gap: 14px; /* Adjust the gap as needed */
    margin-top: 20px; /* Add margin for separation */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.timeList{
    display: grid;
    grid-template-columns: 70px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.schedule{
    display: grid;
    grid-template-columns: 45px;
    grid-gap: 1px;
    //grid-template-columns: repeat(13, 1fr);
    border: 1px solid black; //maybe change to dropshadow
    border-radius: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.schedule div{
    cursor: pointer;
    text-align: center;
    background-color: green;
    height: 20px;
    width: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
//schedule1
.cell1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.cell13{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule2
.cell1-2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule3
.cell1-3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-3{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule4
.cell1-4{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-4{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule5
.cell1-5{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-5{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule6
.cell1-6{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-6{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//schedule7
.cell1-7{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cell13-7{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cell-clicked {
    background-color: lightgray !important;
}


.back-btn {
    margin-right: 310px;
    margin-bottom: 10px;
    background-color: #f2f2f2; 
    color: #333;
    padding: 3px 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .back-btn:hover {
    background-color: #ddd; 
  }
  

