<div class="container">
  <!-- <app-header></app-header> -->
  <p class="top">{{ name }}'s Screen Time Schedule</p>
  <div class="scheduleContainer">
    <div class="timeList">
      <div class="cell1">7:00 am</div>
      <div class="cell2">8:00 am</div>
      <div class="cell3">9:00 am</div>
      <div class="cell4">10:00 am</div>
      <div class="cell5">11:00 am</div>
      <div class="cell6">12:00 pm</div>
      <div class="cell7">1:00 pm</div>
      <div class="cell8">2:00 pm</div>
      <div class="cell9">3:00 pm</div>
      <div class="cell10">4:00 pm</div>
      <div class="cell11">5:00 pm</div>
      <div class="cell12">6:00 pm</div>
      <div class="cell13">7:00 pm</div>
    </div>

    <div class="schedule">
      <div class="cell1" (click)="color($event)">7:00 am</div>
      <div class="cell2" (click)="color($event)">8:00 am</div>
      <div class="cell3" (click)="color($event)">9:00 am</div>
      <div class="cell4" (click)="color($event)">10:00 am</div>
      <div class="cell5" (click)="color($event)">11:00 am</div>
      <div class="cell6" (click)="color($event)">12:00 pm</div>
      <div class="cell7" (click)="color($event)">1:00 pm</div>
      <div class="cell8" (click)="color($event)">2:00 pm</div>
      <div class="cell9" (click)="color($event)">3:00 pm</div>
      <div class="cell10" (click)="color($event)">4:00 pm</div>
      <div class="cell11" (click)="color($event)">5:00 pm</div>
      <div class="cell12" (click)="color($event)">6:00 pm</div>
      <div class="cell13" (click)="color($event)">7:00 pm</div>
    </div>
  </div>
</div>
