.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    height: 100vh;


    h3 {
        font-size: 13px;
        margin-bottom: 30px;
      }
  
    h1 {
      margin-bottom: 30px;
    }
  
    form {
      width: auto;
      max-width: auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: auto; 
      width: 105%;
    }
  
    button {
      width: 100px;
      margin-top: 20px;

    }
  }
  .back {
    font-weight: bold;
    width: 100%;
    color: balck;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 250px;
    margin-bottom: 10px;
  }