.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    h3 {
        font-size: 13px;
        margin-bottom: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      }
  
    h1 {
      margin-bottom: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  
    form {
      width: auto;
      max-width: auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: auto; 
      width: 105%;
    }
  
    button {
      width: 100px;
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .back-btn {
    margin-right: 250px;
    margin-bottom: 10px;
    background-color: #f2f2f2; 
    color: #333;
    padding: 3px 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .back-btn:hover {
    background-color: #ddd; 
  }
  