<div class="container">
    <h3>Screen Time Total: 1 hr 15 min</h3>
    <h3>TikTok: 35 min</h3>
    <h3>YouTube: 23 min</h3>
    <h3>Instagram: 17 min</h3>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.youtube.com/watch?v=tQOSMcGkt6E&t=105s" target="_blank" class="btn btn-primary mt-2">
                    <img src="assets/youtube-icon.png" alt="Description of the image">
                </a>                            
            </div>
            <h5>Effects of Phone Usage</h5>
            <h6>Learn what screen time is and the effects of excessive screen time.</h6>
        </div>
</div>

  