



.container {
    background-color: rgb(241, 239, 255);
    height: 100%;
    width: 80%;


}
.content-container {

  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  .line-separator {
    border-top: 1px solid #ccc;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  

// styling for schedule
  .scheduleContainer {
    display: grid;
    grid-template-columns: 70px 25px 25px 25px 25px 25px 25px 25px;
    gap: 14px; /* Adjust the gap as needed */
    margin-top: 20px; /* Add margin for separation */
    //background: white;
    //border-radius: 10px;
    font-family: 'Arial';
    font-weight: 700;
}
.timeList{
  display: grid;
  grid-template-columns: 70px;
  align-items: center;
}
.schedule{
  display: grid;
  grid-template-columns: 25px;
  grid-gap: 1px;
  //grid-template-columns: repeat(13, 1fr);
  border: 1px solid black; //maybe change to dropshadow
  border-radius: 10px;
  align-items: center;
}
.schedule div{
  cursor: pointer;
  text-align: center;
  background-color: lightgray;
  //background-color: white;
  height: 20px;
  width: 23px;
}
.cell1{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule1
.cell1{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule2
.cell1-2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-2{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule3
.cell1-3{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-3{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule4
.cell1-4{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-4{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule5
.cell1-5{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-5{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule6
.cell1-6{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-6{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//schedule7
.cell1-7{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cell13-7{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cell-clicked {
  background-color: green !important;
}
// end of schedule styling 

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px; 
  height: 20px; 
  margin-right: 10px;
  margin-bottom: 2px;
}


.text {
  margin-top: 12px;
}
.container12 {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

button{
  background-color: grey;
  width: 88px;
  height: 30px;
  flex-shrink: 0;
  }


  .checkbox-container {
    display: flex;
    flex-direction: column;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkbox-input {
    margin-left: 10px;
    margin-right: 10px
  }

  .youtube-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .description {
    font-size: 12px;
    color: #555;
  }

