
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 255);
    height: 100vh;
    font-family: 'Montserrat';

}
.screen-time{
    margin-top: 50px;
    margin-bottom: 50px;
}
.last{
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.top{
    font-weight: 700;
}


//         .screen-time {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             margin-bottom: 20px;
    
//             .apps {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-start;
//             }
    
//             p {
//                 margin: 5px 0;
//             }
//         }

        img{
            width: 45px;
            height: 45px;
        }
        .btn-primary{
            width: 70px;
            height: 60px;
            background-color: white;
        
        }


        .col-md-4{
            margin-bottom: 20px;
        }

//         h3{
//             font-size: 20px;
//           }
//           p{
//             margin-right: 10%;
//           }
//           h5{
//             font-weight: bold;
//         }
        

    

//   }

