
body {
    background-color: rgb(235, 248, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkbox-input {
    margin-left: 10px;
    margin-right: 10px
  }

  .youtube-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .description {
    font-size: 12px;
    color: #555; /* Adjust the color as needed */
  }

  .btn-primary {
    background-color: #007BFF; /* Adjust the color as needed */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-primary:hover {
    background-color: #0056b3; /* Adjust the hover color as needed */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    height: 100vh;


img{
    width: 100px;
    height: 100px;
}

h3{
    font-size: 20px;
    margin-bottom: 50px;
}


button {
    width: 100px;
    margin-top: 40px;
  }
}