
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 248, 235);
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



img{
    width: 100px;
    height: 100px;
    
}
p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    font-size: 20px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button {
    width: 100px;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
}


