@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

* {
  font-family: 'Montserrat';
}

// @media only screen and (max-device-width: 414px) and (max-device-height: 896px) and (-webkit-min-device-pixel-ratio: 2) {
// }

body {
  overflow: hidden;
}

.container {
  overflow: hidden;
}
