@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  max-width: 100%;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding: 15px; /* Add padding for better readability */
}

@media only screen and (max-width: 414px) {
  .container {
    padding: 10px;
  }
}
