.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 255);
    font-family: 'Montserrat';
    height: 100vh;
    height: 100vh;


  
    h1 {
      margin-bottom: 30px;
      font-size: 25px;
      font-family: 'Montserrat';

    }
  
    form {
      width: auto;
      max-width: auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: auto; 
    }
  
    button {
      width: 200px;
      height: 100px;
      // margin-left: 60%;
      margin-top: 30px;

    }

    .btn-primary{
        background-color: rgb(118, 165, 118);
        border: rgb(118, 165, 118);
      }
      .btn-secondary{
        background-color: rgb(107, 107, 173);
        color: white;
        border: rgb(107, 107, 173);
      }
  }
  