.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  


  
    h1 {
      margin-bottom: 30px;
      font-size: 25px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  
    form {
      width: auto;
      max-width: auto;
    }
  
    .form-group {
      margin-bottom: 20px;
      width: auto; 
    }
  
    button {
      width: 200px;
      height: 100px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     
    }

    .btn-primary{
        background-color: rgb(118, 165, 118);
        border: rgb(118, 165, 118);
      }
    .btn-secondary{
        background-color: rgb(107, 107, 173);
        color: white;
        border: rgb(107, 107, 173);
      }
  }
  
